// The configuration file for your Skip App (https://skip.tools)

// SKIP_MODULE_NAME must match BOTH the project name AND the `modulePrefix` constant in Package.swift
SKIP_MODULE_NAME = Showcase

// PRODUCT_NAME is the default title of the app
PRODUCT_NAME = Showcase

// PRODUCT_BUNDLE_IDENTIFIER is the unique id for both the iOS and Android app
PRODUCT_BUNDLE_IDENTIFIER = showcase.module

// The user-visible name of the app (localizable)
INFOPLIST_KEY_CFBundleDisplayName = Skip Showcase
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.utilities

// The semantic version for the app matching the git tag for the release
MARKETING_VERSION = 0.0.1

// The monotonically increasing build number specifying the internal app version
CURRENT_PROJECT_VERSION = 1

IPHONEOS_DEPLOYMENT_TARGET = 16.0
MACOSX_DEPLOYMENT_TARGET = 13.0

// On-device testing may need to override the bundle ID
// PRODUCT_BUNDLE_IDENTIFIER[config=Debug][sdk=iphoneos*] = skip.hello.App

// The package name for the Android entry point, referenced by the AndroidManifest.xml
ANDROID_PACKAGE_NAME = showcase.module

// Assemble the APK as part of the build process
SKIP_BUILD_APK = YES

// Building the target will lauch the app for iphone* targets
SKIP_LAUNCH_APK[sdk=iphone*] = YES

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor

GENERATE_INFOPLIST_FILE = YES
// The user-visible name of the app (localizable)
//INFOPLIST_KEY_CFBundleDisplayName = App Name
//INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.utilities

// iOS-specific Info.plist property keys
INFOPLIST_KEY_UIApplicationSceneManifest_Generation[sdk=iphone*] = YES
INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents[sdk=iphone*] = YES
INFOPLIST_KEY_UILaunchScreen_Generation[sdk=iphone*] = YES
INFOPLIST_KEY_UIStatusBarStyle[sdk=iphone*] = UIStatusBarStyleDefault
INFOPLIST_KEY_UISupportedInterfaceOrientations[sdk=iphone*] = UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown

// Development team ID for on-device testing
CODE_SIGNING_REQUIRED = NO
CODE_SIGN_STYLE = Automatic
CODE_SIGN_ENTITLEMENTS = Sources/Showcase/Skip/Capabilities.entitlements
//CODE_SIGNING_IDENTITY = -
//DEVELOPMENT_TEAM =
