// Additional properties included by the Fastfile build_app


// Needs to be specific in Xcode Target properties
//CODE_SIGN_STYLE = Manual
//DEVELOPMENT_TEAM = 25KG25YA3R
//CODE_SIGN_IDENTITY = iPhone Distribution: The App Fair Project Inc (25KG25YA3R)
//PROVISIONING_PROFILE_SPECIFIER = org.appfair.app.Showcase

